mixin Footer
	nav.navbar.navbar-light(style='background-color:#eceeef')
		.container
			ul.nav
				li.nav-item
					a.btn.btn-secondary.nav-link(href='https://github.com/anthonyjonahs/anthonysomosdotcom' target='_blank') 
						i.fa.fa-github 
						| &nbsp;View Source
				//- li.nav-item
				//- 	span.nav-link.navbar-text Built with ❤️ Anthony Somos
